*
{
    font-family: sans-serif;  
    color: white;  
    margin: 0;
    padding: 0;
}
h1
{    
    color: white;
    text-align: center;
    font-family: "Tahoma";
    font-size: 50px;
    text-shadow: 20px 10px 3px #ff8000, 
                -20px -10px 5px lime;    
}
h2
{
    color: white;
    text-align: center;
    padding: 10px;
    background: -moz-linear-gradient(black, Orange);    
}
body
{
    background-color: black;   
    text-align: justify; 
    color: white;
}
#calc
{
    background-color: rgb(49, 10, 85);
    width: 50%;
    height: auto;
    margin-left: 10%;
}
#calc p
{
    background-color: rgb(19, 19, 141);
    align-content: center;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
#calc table
{
    /* background-color: tomato; */
    width: 100%;
}
#calc table tr
{
    /* background-color: aqua; **/
}
#calc table tr td
{
    /* background-color: #ff8000; */
    text-align: center;
}
#calc table tr td button
{
    /* background-color: yellow;  */
    width: 70px;
    height: 50px;
    color: black;
    font-size: 25px;
}
