h1
{
    background-color: black;
    color: white;
    text-align: center;
}
body
{
    background-color: aqua;
}
div 
{
    background-color: gray;
    width: 100px;
    height: 100px;
    text-align: center;
    display: table-cell;
    align-items: center;
}
.c1 
{
    background-color: blue;
    text-align: center;
    align-items: flex-start;
}
.c2 
{
    background-color: red;
    text-align: end;
    display: flex;
}
.c3
{
    background-color: yellow;
    text-align: inherit;
}
.c4 
{
    background-color: brown;
    text-align: initial;
}
.c5
{
    background-color: lightblue;
    text-align: justify;
}
.c6 
{
    background-color: blue;
    text-align: left;
}
.c7 
{
    background-color: red;
    text-align: right;
}
.c8
{
    background-color: yellow;
    text-align: start;
}
.c9 
{
    background-color: brown;
    text-align: unset;
}
.c10
{
    background-color: lightblue;
    text-align: center;
}