.slides 
{
    width: 100%;    
}
.slides img
{
    width: 100%;      
}
.slidesjs-pagination
{
    background: #000000;
    list-style: none;
    overflow: hidden;
}
.slidesjs-pagination li
{
    float: left;
}
.slidesjs-pagination li a
{
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
}
.slidesjs-pagination li a:hover
{
    background: #d42e2e;
}
.slides .active 
{
    background: #d42e2e;
}
.slidesjs-navigation
{
    background: #000000;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    float: right;
}
.slidesjs-navigation:hover
{
    background: #d42e2e;
    text-decoration: none;
    color: #ffffff;
}